Document-Title 账号管理 - 公有云管理

SiteLayout

  Card.card-common(title="账号管理")
    Card:extra
      a(onClick=updateData) 数据更新
    .cloud--buttons
      each cloud in CLOUD_VENDORS
        Button(key=cloud.provider class-ant-btn-selected=cloud.selected disabled=cloud.disabled onClick=(() => createEndpoint(cloud.provider)))
          img(src=(cloud.disabled ? cloud.iconGrey : cloud.icon) alt=cloud.provider)
          span.valign-middle 添加#{ cloud.name }
    .table-list
      .table-list-title 账号列表
      TableX(rowKey="id")
        Table-Column(title="账号别名" dataIndex="name")
          Table-Column:render(as=(value, endpoint))
            a(onClick=(() => detail(endpoint)))= value
        Table-Column(title="云厂商" dataIndex="cloud")
          Table-Column:render(as=value)
            ConvertCloudIcon(cloud=value)
        Table-Column(title="账号类型" dataIndex="type")
          Table-Column:render(as=(value, endpoint))
            ConvertCloudType(cloud=endpoint.cloud type=value)
        Table-Column(title="已用地域" key="regions")
          Table-Column:render(as=(value, endpoint))
            RegionAz(endpoint=endpoint)
        Table-Column(title="账号余额" dataIndex="balance")
          Table-Column:render(as=(value, endpoint))
            Fragment
              = endpoint.currency
              span.padding-left_4 #{ formatCurrency(value) }
        Table-Column(title="添加时间" dataIndex="created_at")
          Table-Column:render(as=value)= formatDate(value)
        Table-Column(title="操作" key="action")
          Table-Column:render(as=(value, endpoint))
            Fragment
              Button(size="small" onClick=(() => detail(endpoint))) 详情
              Button(size="small" onClick=(() => openConsole(endpoint))) 前往控制台
              if endpoint.type != 3
                Button(size="small" onClick=(() => deleteEndpoint(endpoint))) 移除
