Document-Title 登录

.account
  .account-wrapper
    img.account-logo(src=props.isvInfo.accountLogo)
    .account-form
      .account-form-module 欢迎登陆 CMPlite
      SimpleForm(_ref=form states=state.states onSubmit=onSubmit layout="vertical")
      #noCaptchaCode.slide-verify-code
      if state.errorMessage
        .account-form-error= state.errorMessage
      Button(type="primary" onClick=form.submit loading=form.isLoading() disabled=form.isLoading()) 登录控制台
      .account-form-links
        Link(href=`/register`): a 立即注册
        Link(href="/forget-password"): a 忘记密码
